* {
	color: white;
	-webkit-user-select: none;
}

.gold {
	font-family: "Poppins", sans-serif;
	color: gold;
}

.gem {
	font-family: "Poppins", sans-serif;
	color: skyblue;
}

.power {
	font-family: "Poppins", sans-serif;
	color: orange;
}

.header {
	display: flex;
	background-color: #472119;
	height: 4vh;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 -3px 0 0 #0a0a0a;
}

.header h1 {
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: 550;
	font-style: italic;
}

.game__container {
	display: flex;
	height: 96vh;
}

.left__container {
	display: flex;
	background-color: #23262e;
	width: 32%;
	box-sizing: border-box;
	flex-direction: column;
	border-right: #000000 5px solid;
}

.middle__container {
	background-color: #38a169;
	width: 36%;
	display: flex;
}

.right__container {
	background-color: #23262e;
	width: 32%;
	box-sizing: border-box;
	flex-direction: column;
	border-left: #000000 5px solid;
}

.display__status {
	display: flex;
}

.display__status__container {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0;
	padding: 5px 15px;
	text-align: center;
	background-color: #742c1d;
	border-bottom: black 3px solid;
	justify-content: center;
}

.display__status__container p {
	font-family: "Poppins", sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
}

.display__status__container h2 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	transition: all 0.3s ease;
}

.display__status__container:not(:last-child) {
	border-right: black 3px solid; /* Borda direita para todos os h3, exceto o último */
  }

.display__tabs {
	display: flex;
}

.display__tabs p {
	font-family: "Poppins", sans-serif;
	flex: 1;
	background-color: #994636;
	border-bottom: black 3px solid;
	margin: 0;
	padding: 12px;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	transition: all 0.3s ease;
}

.display__tabs p:hover {
	cursor: pointer;
	font-size: 1.2rem;
	filter: brightness(1.1);
}

.display__tabs p:not(:last-child) {
	border-right: black 3px solid; /* Borda direita para todos os h3, exceto o último */
  }

.tab_active {
	filter: brightness(1.10);
	font-size: 1.2rem !important;
}

.tab_inactive {
	filter: brightness(0.80);
}

.leftTab {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

.leftTab h6 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-top: 2vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.display__skin__container {
	display: flex;
	justify-content: space-around;
	margin: 2vh;
	background-color: #343846;
	border: black 2px solid;
	border-radius: 15px;
	gap: 4vh;
	padding: 20px;
	transition: all 0.3s ease;
}

.display__skin {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.display__skin h1,
.display__skin h2,
.display__skin h3,
.display__skin h4,
.display__skin h5 {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px 0px;
}

.display__skin h1 {	
	background-color: #1b212e;
	padding: 10px 10px;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
}

.display__skin h2 {
	background-color: #536795;
	padding: 10px 25px;
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin h3 {
	background-color: #991c25;
	padding: 10px 25px;
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin h4 {
	background-color: #99311c;
	padding: 10px 25px;
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin h5 {
	background-color: #0e50ba;
	border-radius: 0px 0px 25px 25px;
	padding: 10px 25px;
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin img {
	height: 380px;
	width: 240px;
	border-radius: 20px 20px 0px 0px;
	border: #000000 2px solid;
	transition: all 0.2s ease;
}

.display__skin img:hover {
	cursor: pointer;
	transform: scale(1.01);
	border: white 2px solid;
}

.equipped__status {
	margin: 0px 0px;
	text-align: center;
}

.arsenalTab {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	background-color: #311d11;
}

.arsenalTab h6 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-top: 2vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 5px 20px;
	border: black 2px solid;
}

.display__skin__arsenal {
	background-color: #23262e;
	padding: 15px;
	border-radius: 15px;
	border: black 2px solid;
}

.arsenal__slide {
	display: flex;
	gap: 25px;
	margin-top: 2vh;
	transition: all 0.3s ease;
}

.world__container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	box-sizing: border-box;
}

.world__container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.world__name {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 4vh;
}

.world__name h2 {
	font-size: 1rem;
	font-weight: 500;
	background-color: #2e2824;
	margin: 0px auto;
	width: 30%;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-top: black 2px solid;
	border-radius: 10px 10px 0px 0px;
}

.world__name h1 {
	font-size: 2rem;
	font-weight: 700;
	border: black 2px solid;
	border-radius: 30px;
	padding: 5px 20px;
	background-color: #493f39;
}

.enemies__container {
	display: flex;
	justify-content: center;
}

.enemies__container h3 {
	font-size: 1.5rem;
	font-weight: 600;
	background-color: #493f39;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-bottom: black 2px solid;
	border-radius: 0px 0px 10px 10px;
	margin: 0px 0px;
	padding: 0px 15px;
	transition: all 0.3s ease;
}

.enemies__container h3:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.enemies__container h3:active {
	transform: scale(0.98);
}

.world__container h4 {
	font-size: 2rem;
	font-weight: 700;
	margin-top: 3vh;
}

.world__container img {
	height: 380px;
	width: 300px;
	transition: all 0.3s ease;
	border: black 2px solid;
	border-radius: 50px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.world__container img:hover {
	transform: scale(1.02);
	cursor: pointer;
	border: #000000 3px solid;
}

.world__container img:active {
	transform: scale(0.90);
	filter: brightness(0.85)
}

.health-bar-container {
	width: 50%;
	background-color: #ff5d5d;
	border-radius: 45px;
	overflow: hidden;
	margin-bottom: 20px;
	border: #000000 2px solid;
	position: relative;
}

.health-bar-container p {
	font-family: "Poppins", sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	font-weight: 600;
}

.health-bar {
	height: 30px;
	background-color: #18cc00;
	width: 100%;
	/* A largura será ajustada dinamicamente */
	transition: width 0.3s ease;
}

.upgrade__container {
	display: flex;
	margin: 5px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border: black 2px solid;
	transition: all 0.3s ease;
}

.upgrade__container h1,
.upgrade__container h2,
.upgrade__container h3,
.upgrade__container h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 10px 5px;
  flex: 1;
  min-width: 0;
  height: 100%;
  border: black 1px solid;
}

.upgrade__container:hover {
	cursor: pointer;
	transform: scale(0.98);
}

.upgrade__container:active {
	transform: scale(0.95);
	filter: brightness(1.5);
}

/* Ferreiro */

.upgrade__container h1 {
	background-color: #F02D3A;
}

.upgrade__container h2 {
	background-color: #9197AE;
	flex-grow: 3;
}

.upgrade__container h3 {
	color: gold;
	background-color: #273043;
}

.upgrade__container h4 {
	background-color: #DB9D47;
}

/* Treino */

.upgrade__treinamento h3 {
	color: orange;
	background-color: #273043;
}