* {
	color: white;
	-webkit-user-select: none;
}

.arsenalTab::-webkit-scrollbar {
	display: none;
	/* Esconde a barra de rolagem */
}

.rightTab::-webkit-scrollbar {
	display: none;
	/* Esconde a barra de rolagem */
}

.chestTab::-webkit-scrollbar {
	display: none;
	/* Esconde a barra de rolagem */
}

:-webkit-scrollbar {
	display: none;
}

/* Globais */

.gold {
	font-family: "Poppins", sans-serif;
	color: gold;
}

.gem {
	font-family: "Poppins", sans-serif;
	color: skyblue;
}

.power {
	font-family: "Poppins", sans-serif;
	color: orange;
}

.Locked {
	filter: saturate(0) brightness(0.02) blur(3px);
	pointer-events: none;
	z-index: 10;
}

/* Raridades */

.Comum {
	color: #ffffff;
	background-color: #302721 !important;
}

.Raro {
	color: #ffffff;
	background-color: #023a8f !important;
}

.Épico {
	color: #ff00f2;
	background-color: #2e0d3b !important;
}

.Lendário {
	color: #ff5e00;
	background-color: #3a0900 !important;
}

.Mítico {
	color: #e19bf3;
	background: rgb(108, 4, 111);
	background: radial-gradient(circle, rgba(108, 4, 111, 1) 0%, rgba(132, 0, 255, 1) 100%);
}

.Secreto {
	color: #ffffff;
	background: rgb(255, 255, 255);
	background: radial-gradient(circle, rgba(255, 255, 255, 0.29735644257703087) 0%, rgba(0, 0, 0, 1) 58%);
}

/* Mundos */

.Mundo1 h2 {
	background-color: #001305 !important;
}

.Mundo1 h1 {
	background-color: #002b0b !important;
}

.Mundo1 h3 {
	background-color: #001305 !important;
}

.Mundo2 h2 {
	background-color: #272727 !important;
}

.Mundo2 h1 {
	background-color: #3d2821 !important;
}

.Mundo2 h3 {
	background-color: #272727 !important;
}

.Mundo3 h2 {
	background-color: #794d24 !important;
}

.Mundo3 h1 {
	background-color: #472e16 !important;
}

.Mundo3 h3 {
	background-color: #794d24 !important;
}

/* */
.header {
	display: flex;
	background-color: #111216;
	height: 4vh;
	justify-content: space-between;
	align-items: center;
	box-shadow: inset 0 -3px 0 0 #0a0a0a;
	padding: 0px 5vh;
}

.header h1 {
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	font-weight: 550;
	font-style: italic;
}

.save__container {
	display: flex;
	gap: 5vh;
}

.save__container h2,
.save__container h3 {
	font-size: 12px;
	font-weight: 500;
	transition: all 0.3s ease;
	padding: 2px;
}

.save__container h2:hover,
.save__container h3:hover {
	cursor: pointer;
	transform: scale(0.90);
	border: 1px #fff solid;
	border-radius: 10px;
}

.game__container {
	display: flex;
	height: 96vh;
}

.left__container {
	display: flex;
	background-color: #1a0f09;
	width: 32%;
	box-sizing: border-box;
	flex-direction: column;
	border-right: #000000 5px solid;
}

.middle__container {
	background-color: #38a169;
	width: 36%;
	display: flex;
}

.right__container {
	background-color: #1a0f09;
	width: 32%;
	box-sizing: border-box;
	flex-direction: column;
	border-left: #000000 5px solid;
}

.display__status {
	display: flex;
}

.display__status__container {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0;
	padding: 5px 15px;
	text-align: center;
	background-color: #1e2027;
	border-bottom: black 3px solid;
	justify-content: center;
}

.display__status__container p {
	font-family: "Poppins", sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
}

.display__status__container h2 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	transition: all 0.3s ease;
}

.display__status__container:not(:last-child) {
	border-right: black 3px solid;
	/* Borda direita para todos os h3, exceto o último */
}

.display__tabs {
	display: flex;
}

.display__tabs p {
	font-family: "Poppins", sans-serif;
	flex: 1;
	background-color: #3c4150;
	border-bottom: black 3px solid;
	margin: 0;
	padding: 12px;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	transition: all 0.3s ease;
}

.display__tabs p:hover {
	cursor: pointer;
	font-size: 1.2rem;
	filter: brightness(1.1);
}

.display__tabs p:not(:last-child) {
	border-right: black 3px solid;
	/* Borda direita para todos os h3, exceto o último */
}

.tab_active {
	filter: brightness(1.10);
	font-size: 1.2rem !important;
}

.tab_inactive {
	filter: brightness(0.80);
}

.leftTab {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

.leftTab h6 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-top: 2vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.display__skin__container {
	display: flex;
	justify-content: space-around;
	margin: 1vh;
	background-color: #311d11;
	border: black 2px solid;
	border-radius: 15px;
	gap: 4vh;
	padding: 20px;
	transition: all 0.3s ease;
}

.display__skin {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
}

.item__status {
	display: flex;
	flex: 1;
}

.display__skin h1,
.display__skin h2,
.display__skin h3,
.display__skin h4,
.display__skin h5 {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px 0px;
}

.display__skin h1 {
	background-color: #1b212e;
	padding: 10px 10px;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-radius: 20px 20px 0px 0px;
	margin: 0px 0px;
}

.display__skin h2 {
	background-color: #536795;
	padding: 10px 25px;
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin h3 {
	background-color: #991c25;
	flex: 1;
	font-size: 14px;
	padding: 10px 12px;
	border-left: #000000 2px solid;
	border-right: #000000 1px solid;
	border-bottom: #000000 2px solid;
}

.display__skin h4 {
	background-color: #99311c;
	flex: 1;
	font-size: 14px;
	padding: 10px 12px;
	border-left: #000000 1px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin h5 {
	background-color: #c77c19;
	border-radius: 0px 0px 25px 25px;
	padding: 10px 25px;
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-bottom: #000000 2px solid;
}

.display__skin img {
	height: 380px;
	width: 240px;
	border: #000000 2px solid;
	transition: all 0.3s ease;
}

.display__skin img:hover {
	cursor: pointer;
	transform: scale(1.01);
	border: #ffffffb2 2px solid;
}

.equipped__status {
	margin: 0px 0px;
	text-align: center;
}

.arsenalTab {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	background-color: #311d11;
	overflow: auto;
	overflow-x: hidden;
}

.arsenalTab h6 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-top: 2vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 5px 20px;
	border: black 2px solid;
}

.display__skin__arsenal {
	background-color: #23262e;
	padding: 15px;
	border-radius: 15px;
	border: black 2px solid;
}

.display__skin__arsenal img {
	height: 260px;
	width: 160px;
	border: #000000 2px solid;
	transition: all 0.2s ease;
}

.display__skin__arsenal h1,
.display__skin__arsenal h2,
.display__skin__arsenal h3,
.display__skin__arsenal h4,
.display__skin__arsenal h5 {
	font-size: 12px;
}

.display__skin__arsenal h1 {
	font-size: 11px;
}

.arsenal__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6px;
	/* Ajuste o espaçamento entre os itens conforme necessário */
	margin-top: 2vh;
}

.source__category {
	text-align: center;
}

.source__category p {
	font-size: 20px;
	font-weight: 600;
	margin: 1.5vh auto;
	width: 150px;
	background-color: #2b3b5e;
	border-radius: 15px;
	padding: 5px 20px;
	border: black 2px solid;
}

.items__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6px;
	/* Ajuste o espaçamento entre os itens conforme necessário */
}

/* mundos */

.world__selector__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 1;
	background-color: #141822;
}

.world__selector {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 4vh;
	transition: all 0.3s ease;
	background-color: #202636;
	padding: 15px;
	border-radius: 15px;
	border: black 3px solid;
	width: 450px;
}

.world__selector h2 {
	font-size: 1.2rem;
	letter-spacing: 2px;
	font-weight: 500;
	background-color: #2e2824;
	margin: 0px auto;
	width: 30%;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-top: black 2px solid;
	border-radius: 10px 10px 0px 0px;
}

.world__selector h1 {
	font-size: 1.75rem;
	letter-spacing: 1px;
	font-weight: 700;
	border: black 2px solid;
	border-radius: 30px;
	padding: 5px 20px;
	background-color: #493f39;
}

.world__selector:hover {
	cursor: pointer;
	transform: scale(1.05);
	filter: brightness(1.3);
}

.world__container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	box-sizing: border-box;
}

.world__container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.world__name {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 4vh;
	transition: all 0.3s ease;
}

.world__name h2 {
	font-size: 1rem;
	letter-spacing: 2px;
	font-weight: 500;
	background-color: #2e2824;
	margin: 0px auto;
	width: 30%;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-top: black 2px solid;
	border-radius: 10px 10px 0px 0px;
}

.world__name h1 {
	font-size: 1.75rem;
	letter-spacing: 1px;
	font-weight: 700;
	border: black 2px solid;
	border-radius: 30px;
	padding: 5px 20px;
	background-color: #493f39;
}

.world__name:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.world__name:active {
	transform: scale(1.02);
	filter: brightness(2);
}

.enemies__container {
	display: flex;
	justify-content: center;
}

.enemies__container h3 {
	font-size: 1.2rem;
	font-weight: 600;
	background-color: #493f39;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-bottom: black 2px solid;
	border-radius: 0px 0px 10px 10px;
	margin: 0px 0px;
	padding: 0px 15px;
	transition: all 0.3s ease;
}

.enemies__container h3:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.enemies__container h3:active {
	transform: scale(1.20);
	filter: brightness(3);
}

.world__container h4 {
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: 3vh;
}

.enemy {
	position: relative;
}

.enemy img {
	height: 380px;
	width: 300px;
	transition: all 0.3s ease;
	border: black 2px solid;
	border-radius: 50px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
	position: relative;
}

.enemy img:hover {
	cursor: url('./assets//sword.cur'), auto;
	transform: scale(0.98);
	border: #000000 3px solid;
}

.enemy img:active {
	transform: scale(0.95);
	filter: brightness(0.85) hue-rotate(-20deg) saturate(2);
}

.health-bar-container {
	width: 50%;
	background-color: #ff5d5d;
	border-radius: 45px;
	overflow: hidden;
	margin-bottom: 20px;
	border: #000000 2px solid;
	position: relative;
}

.health-bar-container p {
	font-family: "Poppins", sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	font-weight: 600;
}

.health-bar {
	height: 30px;
	background-color: #18cc00;
	width: 100%;
	/* A largura será ajustada dinamicamente */
	transition: width 0.3s ease;
}

/* tab direita */

.rightTab {
	letter-spacing: 1.5px;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	text-align: center;
	overflow-y: auto;
	/* Habilita a rolagem vertical */
	max-height: 82vh;
	/* Define uma altura máxima para ativar a rolagem */
}

.rightTab p {
	font-size: 28px;
	font-weight: 600;
	margin: 0vh 12vh;
	background-color: #14254b;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.rightTab p span {
	font-size: 22px;
	font-weight: 500;
}

.rightTab h6 {
	font-size: 20px;
	font-weight: 600;
	margin: 2vh 16vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.upgradeTab {
	background-color: #311d11;
	padding: 12px;
	border-radius: 20px;
	border: black 2px solid;
	margin: 2vh;
	width: 550px;
}

.upgrade__container {
	display: flex;
	margin: 15px 3vh;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border: black 2px solid;
	transition: all 0.3s ease;
}

.upgrade__container h1,
.upgrade__container h2,
.upgrade__container h3,
.upgrade__container h4 {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin: 0;
	padding: 10px 5px;
	flex: 1;
	min-width: 0;
	height: 100%;
	border: black 1px solid;
}

.upgrade__container h1 {
	background-color: #bf2222;
}

.upgrade__container h2 {
	background-color: #5a381c;
	flex-grow: 1.8;
}

.upgrade__container h3 {
	background-color: #003775;
}

.upgrade__container h4 {
	background-color: #c77c19;
	flex-grow: 1.2;
}

.upgrade__container:hover {
	cursor: pointer;
	transform: scale(0.98);
	filter: brightness(1.20);
}

.upgrade__container:active {
	transform: scale(0.95);
	filter: brightness(2);
}

.autoattack__container {
	background-color: #311d11;
	margin: 1vh auto;
	padding: 20px;
	border: black 2px solid;
	border-radius: 20px;
	width: 550px;
}

.autoattack__container h6 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin: 0 14vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.autoattack__upgrade {
	display: flex;
	justify-content: center;
	margin: 2vh;
	border: black 2px solid;
	transition: all 0.3s ease;
}

.autoattack__upgrade h1,
.autoattack__upgrade h2,
.autoattack__upgrade h3 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin: 0;
	padding: 10px 10px;
	flex: 1;
	min-width: 0;
	height: 100%;
	border: black 1px solid;
}

.autoattack__upgrade h1 {
	background-color: #bf2222;
}

.autoattack__upgrade h2 {
	background-color: #c77c19;
}

.autoattack__upgrade h3 {
	background-color: #003775;
}

.autoattack__upgrade:hover {
	cursor: pointer;
	transform: scale(0.98);
}

.autoattack__upgrade:active {
	transform: scale(0.90);
	filter: brightness(2);
}

.autoattack__button {
	background-color: #1b212e;
	margin: 0px 5vh;
	padding: 15px 20px;
	border: black 2px solid;
	border-radius: 15px;
}

.autoattack__button h1 {
	font-size: 24px;
	font-weight: 700;
	margin: 1vh;
}

.autoattack__button h2 {
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
	margin: 0px 10vh;
	border: black 2px solid;
	border-radius: 15px;
	width: 200px;
	transition: all 0.3s ease;
}

.autoattack__button h2:hover {
	cursor: pointer;
	transform: scale(0.98);
}

.autoattack__button h2:active {
	transform: scale(0.90);
}

.Ativado {
	background-color: #36ff2f9c;
}

.Desativado {
	background-color: #ff00008a;
}

/* Ferreiro */

.forgeTab {
	align-items: center;
	text-align: center;
}

.forgeTab .anvil {
	height: 200px;
	width: auto;
	margin: 0px auto;
	border-radius: 30px;
	padding: 20px;
	filter: brightness(0.8) saturate(0.8);
}

.forgeTab h6 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin: 2vh 14vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.displayForge__container {
	background-color: #311d11;
	padding: 20px;
	margin: 0px 3vh;
	border-radius: 15px;
	border: black 2px solid;
	margin-top: 8vh;
}

.upgradeForge__container {
	display: flex;
	margin: 5px 5px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border: black 2px solid;
	transition: all 0.3s ease;
}

.upgradeForge__container h1,
.upgradeForge__container h2,
.upgradeForge__container h3,
.upgradeForge__container h4 {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin: 0;
	padding: 10px 5px;
	flex: 1;
	min-width: 0;
	height: 100%;
	border: black 1px solid;
}


.upgradeForge__container h1 {
	background-color: #c77c19;
}

.upgradeForge__container h2 {
	background-color: #252b3f;
	flex-grow: 3;
}

.upgradeForge__container h3 {
	color: gold;
	background-color: #003775;
}

.upgradeForge__container h4 {
	background-color: #DB9D47;
}

.upgradeForge__container:hover {
	cursor: pointer;
	transform: scale(1.02);
	filter: brightness(1.20);
}

.upgradeForge__container:active {
	transform: scale(0.95);
	filter: brightness(2);
}

/* Chests */

.chestTab {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	overflow-y: auto;
	/* Habilita a rolagem vertical */
	max-height: 82vh;
	/* Define uma altura máxima para ativar a rolagem */
}

.chestTab h6 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-top: 2vh;
	background-color: #1b212e;
	border-radius: 15px;
	padding: 10px 15px;
	border: black 2px solid;
}

.chests__container {
	display: flex;
	flex-direction: column;
	background-color: #311d11;
	padding: 10px;
	margin: 1vh 5vh;
	border: black 2px solid;
	border-radius: 25px;
	transition: all 0.3s ease;
}

.chests__container img {
	height: 128px;
	width: 128px;
	margin: 0px auto;
}

.drawn__display {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
	margin: 2vh auto;
	background-color: #262833;
	padding: 20px;
	border: black 2px solid;
	transition: all 0.3s ease;
}

.drawn__display img {
	height: 260px;
	width: 160px;
	border: black 1px solid;
	margin: 0px auto;
}

.drawn__display h1,
.drawn__display h2 {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 600;
	padding: 10px 20px;
}

.drawn__display h1 {
	background-color: #273043;
	border: black 1px solid;
	border-radius: 15px 15px 0px 0px;
}

.drawn__display h2 {
	border: black 1px solid;
	border-radius: 0px 0px 15px 15px;
}

.chest__container {
	display: flex;
	margin: 10px 50px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border: black 2px solid;
	transition: all 0.3s ease;
}

.chest__container h1,
.chest__container h2,
.chest__container h3 {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin: 0;
	padding: 10px 15px;
	flex: 1;
	min-width: 0;
	border: black 1px solid;
}

.chest__container h1 {
	background-color: #ca9400;
}

.chest__container h2 {
	background-color: #302a4d;
}

.chest__container h3 {
	background-color: #0057a8;
}

.chest__container:hover {
	cursor: pointer;
	transform: scale(1.02);
	filter: brightness(1.20);
}

.chest__container:active {
	transform: scale(0.98);
	filter: brightness(2);
}